[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
black = "*"

[packages]
youtube-dl = "*"
flask = "*"
flask-cors = "*"
python-magic = "*"

[requires]
python_version = "3.8"
